body {
  padding: 50px;
  background: #fff;
  color: #202020;
}

.section-title {
  display: flex;
  align-self: center;
}

.hero-image,
.contact-image {
  width: 300px;
  height: auto;
}

.card {
  max-width: 300px;
}

.card-image {
  width: 200px;
  height: auto;
}

.button {
  padding: 10px 20px;
  border: 2px solid #ff7f4f;
  border-radius: 8px;
  color: #ff7f4f;
  font-size: 16px;
  text-decoration: none;
}

.hero-section {
  display: flex;
  justify-content: space-around;
}

.my-skills {
  display: flex;
  justify-content: space-around;
}

.project-cards {
  display: flex;
  justify-content: space-around;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journey-cards {
  display: flex;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  justify-content: space-around;
}